<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pegasus</title>
    <meta name="description" content="uma solução computacional para clínica médica">
</head>

<body>
    <nav class="header">
        <nav id="bemVindo">
            <p class="BalooFont"> bem vindo ao pegasus </p>
        </nav>
    </nav>

    <p id="description">uma solução computacional para clínica médica</p>
    <p id="acesso">Acesse como:</p>

    <span>
        <button id="botao_medico" (click)="submitEntrar()">
            <p>MÉDICO</p>
        </button>
        <img src="../../assets/img/Bicho_Medico.png" id="bicho_medico">
    </span>

    <span>
        <button id="botao_atendente" (click)="submitEntrar()">
            <p class="atendente">ATENDENTE</p>
        </button>>

        <img src="../../assets/img/Bicho_Atendente.png" id="bicho_atendente">
    </span>


</body>