mat-form-field{
  width: 100%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
.example-radio-button {
  margin: 5px;
}

.mensagem-erro{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 700px 900px;
  text-align: center;
  align-items: flex-start;
  font-style: bold;
  color: red;
  /* box-shadow: 0 10px 10px 0 red; */
}

.alert-danger {
  color: #994442;
  border-color: #fccac7;
}
.alert-danger hr {
  border-top-color: #fbb3af;
}
.alert-danger .alert-link {
  color: #753433;
}

.logoBacteria{
  position:absolute;
  right: 90px;
  min-width: 0%;
  max-width: 100%;

}

.retanguloRoxo{
  position: relative;
  width: 373px;
  height: 432px;
  left: 50%;
  top: 50%;
  min-width: 0%;
  max-width: 100%;
  background: #4A518F;
  border-radius: 26px;
  transform:translate(-50%,-50%);

}

.loginTitulo{
  position: absolute;
  width: 76px;
  height: 35px;
  left: 150px;
  top: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #efe8eb;

}


.caixinhaLogin{

  box-sizing: border-box;

  position: absolute;
  width: 254px;
  height: 35px;
  left: 55px;
  top: 200px;

  background: #D9D9D9;


}



.caixinhaSenha{

  position: absolute;
  width: 254px;
  height: 35px;
  left: 55px;
  top: 280px;

  background: #D9D9D9;


}



.senha{

 position: absolute;
width: 33px;
height: 14px;
left: 574px;
top: 505px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
/* identical to box height */
}







.login{
  position: absolute;
  width: 27px;
  height: 14px;
  left: 574px;
  top: 415px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

}



.caixinhaEntrar{

  position: absolute;
  width: 113px;
  height: 32px;
  left: 120px;
  top: 350px;

  background: hsl(258, 38%, 13%);
  border-radius: 21.5px;
  border: none;

}





.entrar{

  position: absolute;
  width: 54px;
  height: 23px;
  left: 658px;
  top: 583px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #d6a6a6;
}