
#Posicao {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 16px 48px;
  font-size: 36px;
  color: black;
  max-width: max-content;
  font-weight: 700;
}

#Fila {
  font-size: 64px;
}

#inserir_codigo {
  font-size: 40px;
  position: relative;
  padding-top: 100px;
  color: rgb(35, 35, 35);
}

#paciente {
  position: absolute;
  max-width: 100%;
  left: 40px;
  top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 30px;
  color: #000000;
}

#medico {
  position: absolute;
  max-width: 100%;
  left: 40px;
  top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 30px;
  color: #000000;
}

#nomeMedico {
  position: absolute;
  max-width: 100%;
  top: 30px;
  left: 170px;
  font-size: 25px;
  color: black;
}

form {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 8px 12px;
  border: 4px solid black;
  font-size: 12px;
  color: black;
  max-width: max-content;
}


.posicaoTitulo {
  position: absolute;
  top: 35px;
  left: 150px;
  margin-left: 0px;
  margin-right: 0px;
  color: antiquewhite !important;
  font-family: 'Baloo 2', normal;
  font-size: 40px;
}

.caixinhaGrande {
  position: absolute;
  max-width: 100%;
  min-width: 0%;
  padding-top: 100px;
  left: 100px;

}

.BalooFont {
  font-family: 'Baloo Regular';
  src: url(../../assets/Baloo-Regular.ttf) format('opentype');
}

.RobotoFont {
  font-family: 'Roboto Medium';
  src: url(../../assets/Roboto-Medium.ttf) format('opentype');
  font-size: 18px;
}

.logoHeader {
  position: absolute;
  top: 5px;
  left: 2px;
  height: 80px;
  width: 90px;

}

.buttonHeader {
  position: absolute;
  top: 5px;
  left: 30px;
  height: 90px;
  width: 90px;
  border-radius: 100px;

}

.header {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background: #4A518F;
  font-size: 50px;

}

.caixinhaCodigo {
  position: absolute;
  width: 360px !important;
  height: 87px;
  background: #D9D9D9;
  border-radius: 60px;
  border: 0px;
  font-size: 30px;

}

.posicaoCaixinha{
  position: absolute;
  left: 550px;
  top: 60px;
}

.caixinhaMedico {
  position: absolute;
  max-width: 100%;
  height: 87px;
  left: 108px;
  top: 438px;
  background: #D9D9D9;
  border-radius: 60px;

}

.botaoOK {

  position: relative;
  width: 50px;
  height: 32px;
  left: 205%;
  transform: translate(0px, -40px);
  background: #a08bff;
  border-radius: 21.5px;
  border: none;

}

.caixinhaPaciente {
  position: absolute;
  width: 436px;
  height: 87px;
  left: 108px;
  top: 307px;

  background: #D9D9D9;
  border-radius: 60px;

}

.caixinhaPosicao{
  position: absolute;
  width: 336px;
  height: 214px;
  left: 814px;
  top: 296px;

  background: #D9D9D9;
  border-radius: 60px;
}

@media screen and (max-width: 1300px) {
  #inserir_codigo{
    font-size: 28px;
  }
  .posicaoCaixinha{
    position: absolute;
    left: 360px;
    top: 60px;
  }
  .caixinhaPosicao{
    top: 230px;
    left: 108px;
  }
  .caixinhaPaciente{
    top: 500px;
  }
  .caixinhaMedico{
    top: 600px;
  }
}

@media screen and (max-width: 900px) {
  .caixinhaGrande{
    left: 15px;
  }
  .botaoOK{
    position: relative;
    left: 330px;
  }
  #inserir_codigo{
    font-size: 24px;
  }
  .posicaoCaixinha{
    left: 0px;
    top: 150px;
  }
  .caixinhaPosicao{
    top: 275px;
    left: 0px;
  }
  .caixinhaPaciente{
    width: 300px;
    top: 520px;
    left: 0px;
  }
  .caixinhaMedico{
    top: 620px;
    left: 0px;
  }
}
