<header class="header">
  <h1 class="posicaoTitulo">
    <span class="BalooFont">fila virtual </span>
  </h1>
</header>

<mat-toolbar>
  <button mat-icon-button class="buttonHeader">
    <img src="../../assets/img/desenhoHeader.png" class="logoHeader" />
  </button>
  <span class="example-spacer"></span>
</mat-toolbar>


<table class="caixinhaGrande">

  <span id="inserir_codigo">
    <p> <b>insira o código de consulta: </b></p>
  </span>

  <div class="posicaoCaixinha">
    <form [formGroup]="pacienteForm" style="border: 0;" >
        <input formControlName="Cod" matInput placeholder="Ex. AL1Cr0UHrK" class="caixinhaCodigo" >
    </form>
  </div>


  <button class="botaoOK" mat-dialog-close (click)="getPosicaoPaciente()"> <b> OK </b></button>

  <span class="caixinhaPosicao">
    <div id="Posicao">
      <p>Posição</p>
      <br />
      <p id="Fila">#{{posicao}}</p>
    </div>
  </span>

  <span class="caixinhaPaciente" style="width:436px ;">
    <span id="paciente"> <b>Paciente: </b> {{nome}}</span>
  </span>

  <!-- <span class="caixinhaMedico" style="width:436px ;">
    <p id="medico">  <b>Médico:</b> Ainda não alocado! </p>
  </span> -->

</table>




<script type="text/javascript" src="consulta.component.ts"></script>


<router-outlet></router-outlet>
