<header class="header">
    <h1 class="FilaVirtual">
        <span class="BalooFont">Acompanhamento </span>
    </h1>
</header>

<mat-toolbar>
    <button mat-icon-button class="buttonHeader">
        <img src="../../assets/img/desenhoHeader.png" class="logoHeader" />
    </button>
    <span class="example-spacer"></span>
</mat-toolbar>

<form class="forms">
    <h1>
        <p id="Nome" class="RobotoFont">
            <b> Especialidade: </b> {{especialidade}}
            <br>
            <b> Paciente:</b> Mateus
    </h1>
    <div class="campo"><div>
    <button class="botaoReceita"> 
        <p class="RobotoFont"> Gerar Receita </p>
     </button>
<form>
<router-outlet></router-outlet>